textarea{
	min-height: 50px;
	max-width: 100%;
}
.error{
	color: #c17171;
}

header{
	width: 100%;
	height: 70px;
	background-color: #325065;
	margin-bottom: 30px;
	color: #fff;
	display: block;
    overflow: hidden;
}
footer{
	width: 100%;
	height: 70px;
	background-color: #325065;
	margin-top: 30px;
}

h2{ 
	margin: 0 ;
}