{{pedido}}

<form name="commerceForm" ng-submit="createCommerce()" novalidate>
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="row">

			<div class="col-md-12 col-sm-12 col-xs-12">
				<h2>Datos Administrativos</h2>
				<hr>

				<div class="form-group row">
			      <label class="col-sm-2 col-form-label">Nombre</label>
			      <div class="col-sm-3">
			        <input type="text" name="nombre" maxlength="50" required ng-model="commerce.nombre" class="form-control">
			      </div>
			      <div class="col-sm-5 col-sm-offset-2">
			      	<span ng-show="	commerceForm.nombre.$dirty 	&& 	commerceForm.nombre.$error.required 	|| 
			      					commerceForm.$submitted 	&&  commerceForm.nombre.$error.required" class="error">
			      			Este campo es obligatorio
			      	</span>
			      </div>
			    </div>

			    <div class="form-group row">
			      <label class="col-sm-2 col-form-label">Teléfono</label>
			      <div class="col-sm-3">
			        <input type="text" name="telefono" ng-model="commerce.telefono" maxlength="50" required class="form-control">
			      </div>
			      <div class="col-sm-5 col-sm-offset-2">
			        <span ng-show="	commerceForm.telefono.$dirty 	&& 	commerceForm.telefono.$error.required 	|| 
			      					commerceForm.$submitted 		&&  commerceForm.telefono.$error.required" class="error">
			      			Este campo es obligatorio
			      	</span>
			      </div>
			    </div>

			    <div class="form-group row">
			      <label class="col-sm-2 col-form-label">Descripcion</label>
			      <div class="col-sm-4">
			        <textarea name="descripcion" ng-model="commerce.descripcion" maxlength="1000" required class="form-control"></textarea>
			      </div>
			      <div class="col-sm-5 col-sm-offset-1">
			        <span ng-show="	commerceForm.descripcion.$dirty 	&& 	commerceForm.descripcion.$error.required 	|| 
			      					commerceForm.$submitted 			&&  commerceForm.descripcion.$error.required" class="error">
			      			Este campo es obligatorio
			      	</span>
			      </div>
			    </div>

			    <div class="form-group row">
			      <label class="col-sm-2 col-form-label">Especialidades</label>
			      <div class="col-sm-4">
			        <textarea name="especialidades" ng-model="commerce.especialidades" maxlength="500" required class="form-control"></textarea>
			      </div>
			      <div class="col-sm-5 col-sm-offset-1">
			        <span ng-show="	commerceForm.especialidades.$dirty 	&& 	commerceForm.especialidades.$error.required 	|| 
			      					commerceForm.$submitted 			&&  commerceForm.especialidades.$error.required" class="error">
			      			Este campo es obligatorio
			      	</span>
			      </div>
			    </div>

			    <div class="form-group row">
			      <label class="col-sm-2 col-form-label">Dirección</label>
			      <div class="col-sm-3">
			        <input type="text" name="direccion" ng-model="commerce.direccion" maxlength="200" required class="form-control">
			      </div>
			      <div class="col-sm-5 col-sm-offset-2">
			        <span ng-show="	commerceForm.direccion.$dirty 	&& 	commerceForm.direccion.$error.required 	|| 
			      					commerceForm.$submitted 		&&  commerceForm.direccion.$error.required" class="error">
			      			Este campo es obligatorio
			      	</span>
			      </div>
			    </div>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12">
				<h2>Contacto administrativo</h2>
				<hr>
				
				<div class="form-group row">
			      <label class="col-sm-4 col-form-label">Nombre</label>
			      <div class="col-sm-6" role="alert">
			        <input type="text" name="nombreadministrativo" ng-model="commerce.administrativo.nombre" maxlength="200" required class="form-control">
			        <span ng-show="	commerceForm.nombreadministrativo.$dirty 	&& 	commerceForm.nombreadministrativo.$error.required 	|| 
			      					commerceForm.$submitted 		&&  commerceForm.nombreadministrativo.$error.required" class="error">
			      			Este campo es obligatorio
			      	</span>
			      </div>
			    </div>

			    <div class="form-group row">
			      <label class="col-sm-4 col-form-label">Apellido</label>
			      <div class="col-sm-6">
			        <input type="text" name="apellidoadministrativo" ng-model="commerce.administrativo.apellido" maxlength="200" required class="form-control">
			        <span ng-show="	commerceForm.apellidoadministrativo.$dirty 	&& 	commerceForm.apellidoadministrativo.$error.required 	|| 
			      					commerceForm.$submitted 		&&  commerceForm.apellidoadministrativo.$error.required" class="error">
			      			Este campo es obligatorio
			      	</span>
			      </div>
			    </div>

			    <div class="form-group row">
			      <label class="col-sm-4 col-form-label">Teléfono</label>
			      <div class="col-sm-6">
			        <input type="text" name="telefonoadministrativo" ng-model="commerce.administrativo.telefono" maxlength="100" required class="form-control">
			        <span ng-show="	commerceForm.telefonoadministrativo.$dirty 	&& 	commerceForm.telefonoadministrativo.$error.required 	|| 
			      					commerceForm.$submitted 		&&  commerceForm.telefonoadministrativo.$error.required" class="error">
			      			Este campo es obligatorio
			      	</span>
			      </div>
			    </div>

			    <div class="form-group row">
			      <label class="col-sm-4 col-form-label">Email</label>
			      <div class="col-sm-6">
			        <input type="email" name="emailadministrativo" ng-model="commerce.administrativo.email" maxlength="100" required class="form-control">
			        <span ng-show="	commerceForm.emailadministrativo.$dirty 	&& 	commerceForm.emailadministrativo.$error.required 	|| 
			      					commerceForm.$submitted 		&&  commerceForm.emailadministrativo.$error.required" class="error">
			      			Este campo es obligatorio
			      	</span>
			      	<span ng-show="	commerceForm.emailadministrativo.$dirty 	&& 	commerceForm.emailadministrativo.$error.email 	|| 
			      					commerceForm.$submitted 		&&  commerceForm.emailadministrativo.$error.email" class="error">
			      			El email ingresado es incorrecto
			      	</span>
			      </div>
			    </div>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12">
				<h2>Contacto comercial</h2>
				<hr>
				
				<div class="form-group row">
			      <label class="col-sm-4 col-form-label">Nombre</label>
			      <div class="col-sm-6" role="alert">
			        <input type="text" name="nombrecomercial" ng-model="commerce.comercial.nombre" maxlength="200" required class="form-control">
			        <span ng-show="	commerceForm.nombrecomercial.$dirty 	&& 	commerceForm.nombrecomercial.$error.required 	|| 
			      					commerceForm.$submitted 		&&  commerceForm.nombrecomercial.$error.required" class="error">
			      			Este campo es obligatorio
			      	</span>
			      </div>
			    </div>

			    <div class="form-group row">
			      <label class="col-sm-4 col-form-label">Apellido</label>
			      <div class="col-sm-6">
			        <input type="text" name="apellidocomercial" ng-model="commerce.comercial.apellido" maxlength="200" required class="form-control">
			        <span ng-show="	commerceForm.apellidocomercial.$dirty 	&& 	commerceForm.apellidocomercial.$error.required 	|| 
			      					commerceForm.$submitted 		&&  commerceForm.apellidocomercial.$error.required" class="error">
			      			Este campo es obligatorio
			      	</span>
			      </div>
			    </div>

			    <div class="form-group row">
			      <label class="col-sm-4 col-form-label">Teléfono</label>
			      <div class="col-sm-6">
			        <input type="text" name="telefonocomercial" ng-model="commerce.comercial.telefono" maxlength="100" required class="form-control">
			        <span ng-show="	commerceForm.telefonoadministrativo.$dirty 	&& 	commerceForm.telefonocomercial.$error.required 	|| 
			      					commerceForm.$submitted 		&&  commerceForm.telefonocomercial.$error.required" class="error">
			      			Este campo es obligatorio
			      	</span>
			      </div>
			    </div>

			    <div class="form-group row">
			      <label class="col-sm-4 col-form-label">Email</label>
			      <div class="col-sm-6">
			        <input type="email" name="emailcomercial" ng-model="commerce.comercial.email" maxlength="100" required class="form-control">
			        <span ng-show="	commerceForm.emailcomercial.$dirty 	&& 	commerceForm.emailcomercial.$error.required 	|| 
			      					commerceForm.$submitted 		&&  commerceForm.emailcomercial.$error.required" class="error">
			      			Este campo es obligatorio
			      	</span>
			      	<span ng-show="	commerceForm.emailcomercial.$dirty 	&& 	commerceForm.emailcomercial.$error.email 	|| 
			      					commerceForm.$submitted 		&&  commerceForm.emailcomercial.$error.email" class="error">
			      			El email ingresado es incorrecto
			      	</span>
			      </div>
			    </div>
			</div>
		</div>
	</div>
  
  <button type="submit" ng-click="addNew()" class="btn btn-default">Submit</button>
</form>


<table id="mytable" class="table table-striped">
                   
	<thead>
		<th>Nombre</th>
		<th>Dirección</th>
		<th>Teléfono</th>
		<th></th>
	</thead>
    <tbody>
    
    <tr ng-repeat="list in commerceList track by $index">
	    <td>{{list.nombre}}</td>
	    <td>{{list.direccion}}</td>
	    <td>{{list.telefono}}</td>
	    <td>
	    	<button class="btn btn-primary btn-xs" data-title="Edit"><span class="glyphicon glyphicon-pencil"></span></button>
	    	<button class="btn btn-danger btn-xs" data-title="Delete" ng-click="delete($index)"><span class="glyphicon glyphicon-trash"></span></button>
	    </td>
    </tr>

    </tbody>
        
</table>