<table class="table table-striped">
	<thead>
		<th ng-repeat="col in $ctrl.config.data">{{col.colName}} 
			<span ng-if="col.order" ng-click="$ctrl.sortFunction(col)">
				<i ng-class="{'glyphicon glyphicon-chevron-up': col.direction == 'asc', 'glyphicon glyphicon-chevron-down': col.direction == 'desc'}"></i>
			</span>
		</th>
	</thead>
    <tbody>
	    <tr ng-repeat="row in $ctrl.data track by $index">
			<td ng-repeat="col in $ctrl.config.data">
				<span ng-bind-html="$ctrl.showContent(row, col)" ng-click="$ctrl.runAction(row, col)"></span>
			</td>
	    </tr>
    </tbody>
    
</table>